esp32_thingspeak/node_red_flow.json
[
  {
    "id": "robot_tab",
    "type": "tab",
    "label": "Robot Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-robot",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab_robot",
    "type": "ui_tab",
    "name": "Robot",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_gauges",
    "type": "ui_group",
    "name": "Sensor values",
    "tab": "ui_tab_robot",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "ui_group_chart",
    "type": "ui_group",
    "name": "History",
    "tab": "ui_tab_robot",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "mqtt_in_sensors",
    "type": "mqtt in",
    "z": "robot_tab",
    "name": "robot/sensors/+",
    "topic": "robot/sensors/+",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_local",
    "x": 140,
    "y": 200,
    "wires": [["route_by_topic", "debug_raw"]]
  },
  {
    "id": "debug_raw",
    "type": "debug",
    "z": "robot_tab",
    "name": "raw messages",
    "active": true,
    "console": false,
    "tosidebar": true,
    "complete": "true",
    "x": 370,
    "y": 100,
    "wires": []
  },
  {
    "id": "route_by_topic",
    "type": "function",
    "z": "robot_tab",
    "name": "route by topic",
    "func": "// msg.topic is e.g. 'robot/sensors/pot1'; route on the last segment.\nconst key = msg.topic.split('/').pop();\nmsg.payload = Number(msg.payload);\nswitch (key) {\n  case 'pot1': return [msg, null, null, null];\n  case 'pot2': return [null, msg, null, null];\n  case 'pot3': return [null, null, msg, null];\n  case 'temp': return [null, null, null, msg];\n}\nreturn null;",
    "outputs": 4,
    "x": 370,
    "y": 220,
    "wires": [
      ["gauge_pot1"],
      ["gauge_pot2"],
      ["gauge_pot3"],
      ["gauge_temp", "chart_temp"]
    ]
  },
  {
    "id": "gauge_pot1",
    "type": "ui_gauge",
    "z": "robot_tab",
    "name": "POT1",
    "group": "ui_group_gauges",
    "order": 1,
    "title": "POT1",
    "label": "raw",
    "format": "{{value}}",
    "min": "0",
    "max": "4095",
    "x": 610,
    "y": 140,
    "wires": []
  },
  {
    "id": "gauge_pot2",
    "type": "ui_gauge",
    "z": "robot_tab",
    "name": "POT2",
    "group": "ui_group_gauges",
    "order": 2,
    "title": "POT2",
    "label": "raw",
    "format": "{{value}}",
    "min": "0",
    "max": "4095",
    "x": 610,
    "y": 180,
    "wires": []
  },
  {
    "id": "gauge_pot3",
    "type": "ui_gauge",
    "z": "robot_tab",
    "name": "POT3",
    "group": "ui_group_gauges",
    "order": 3,
    "title": "POT3",
    "label": "raw",
    "format": "{{value}}",
    "min": "0",
    "max": "4095",
    "x": 610,
    "y": 220,
    "wires": []
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "robot_tab",
    "name": "Temperature",
    "group": "ui_group_gauges",
    "order": 4,
    "title": "Temperature",
    "label": "C",
    "format": "{{value}}",
    "min": "-10",
    "max": "60",
    "x": 630,
    "y": 260,
    "wires": []
  },
  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "robot_tab",
    "name": "Temperature history",
    "group": "ui_group_chart",
    "order": 1,
    "label": "Temperature (C)",
    "chartType": "line",
    "removeOlder": "1",
    "removeOlderUnit": "3600",
    "ymin": "-10",
    "ymax": "60",
    "x": 640,
    "y": 320,
    "wires": [[]]
  }
]
